terraform.tfstate
terraform.tfstate.backup
*.tfstate.*
crash.log
.terraform/
.terraform.lock.hcl
*.log
*.tfplan
*.tfvars
**/build/
**/dist/

*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
.pytest_cache/


src/**/venv/
src/**/.venv/
venv/
.env/


**/lambda.zip

# Credenciales temporales o simuladas
.aws/
.aws-sam/
*.pem
*.key
*.crt

localstack-volume/
**/.elasticbeanstalk/
**/.serverless/

.vscode/
.settings/
*.code-workspace